.design-login {
    border-radius: 8px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 600px;
    margin: 0 auto;
    box-shadow: 10px 10px #888888;


}

@media only screen and (max-width:576px) {
    .design-login {
        width: 100%;
    }

}

@media only screen and (min-width:577px) and (max-width:768px) {
    .design-login {
        width: 100%;
    }

}